<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @coupon.amount %>
</p>

<p>
  <strong>Start:</strong>
  <%= @coupon.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @coupon.stop %>
</p>

<p>
  <strong>Valid:</strong>
  <%= @coupon.valid %>
</p>

<p>
  <strong>Usage Unique:</strong>
  <%= @coupon.usage_unique %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
