<%= form_with(model: campaign) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
        <% campaign.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.datetime_select :start %>
  </div>

  <div class="field">
    <%= form.label :stop %>
    <%= form.datetime_select :stop %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :coupon_amount %>
    <%= form.number_field :coupon_amount %>
  </div>

  <div class="field">
    <%= form.label :is_valid %>
    <%= form.check_box :is_valid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
