<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @campaign.amount %>
</p>

<p>
  <strong>Start:</strong>
  <%= @campaign.start %>
</p>

<p>
  <strong>Stop:</strong>
  <%= @campaign.stop %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Coupon amount:</strong>
  <%= @campaign.coupon_amount %>
</p>

<p>
  <strong>Is valid:</strong>
  <%= @campaign.is_valid %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
